@import '../../styles/variables.scss';

.form {
  &__label {
    font-family: $fontFamilyRoboto;
    color: #262626;
    margin: 2px 0px;
  }
  &__input {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-family: $fontFamilyRoboto;
    font-size: 16px;
    padding: 8px 12px;
    margin-bottom: 12px;
    outline: none;
    &:focus {
      border-color: $colorGreen;
    }
    &::placeholder {
      color: #d9d9d9;
    }
  }

  &__errorMessage {
    font-family: $fontFamilyRoboto;
    font-size: 14px;
    line-height: 22px;
    color: $colorRed;
    margin-top: -13px;
    margin-bottom: 10px;
  }
}
.error {
  outline: none;
  border-radius: 4px;
  font-family: $fontFamilyRoboto;
  font-size: 16px;
  padding: 8px 12px;
  margin-bottom: 13px;
  border-color: $colorRed !important;
}
