@import '../../styles/variables.scss';

.like {
  &__button {
    width: 16px;
    height: 15px;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right: 5px;
  }

  &__likeCount {
    font-family: $fontFamilyInter;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.75);
  }
}
.liked {
  background-image: url('../../Assets/Images/liked.svg');
}
.noLike {
  background-image: url('../../Assets/Images/like.svg');
}
