@import '../../styles/variables.scss';

.articlePage {
  max-width: 941px;
  min-height: 140px;
  margin: 0 auto;
  background: $colorWhite;
  border-radius: 5px;
  list-style: none;
  padding: 10px 14px 24px 19px;
  margin-bottom: 26px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  &__header {
    @include displayFlex();
  }
  &__data {
    display: flex;
    align-items: center;
  }
  &__title {
    max-width: 650px;
    font-family: $fontFamilyInter;
    font-size: 20px;
    line-height: 28px;
    color: $colorBlue;
    margin-right: 13px;
    overflow-wrap: anywhere;
  }

  &__tag {
    display: inline-block;
    font-family: $fontFamilyInter;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.75);
    background: $colorWhite;
    padding: 2.5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    cursor: pointer;
    margin: 3px 8px 18px 0;
  }
  &__description {
    width: 682px;
    font-family: $fontFamilyInter;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
    overflow-wrap: anywhere;
  }
  &__body {
    font-family: $fontFamilyInter;
    font-size: 20px;
    line-height: 28px;
  }
}
.profile {
  display: flex;
  align-items: center;
  &__data {
    margin-right: 12px;
  }
  &__name {
    display: block;
    font-family: $fontFamilyInter;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
  }
  &__date {
    font-family: $fontFamilyInter;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }
  &__foto {
    width: 46px;
    height: 46px;
    border-radius: 25px;
    cursor: pointer;
  }
}

.block__textButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.button {
  background: $colorWhite;
  border-radius: 5px;
  padding: 6px 17px;
  cursor: pointer;
  &__delete {
    border: 1px solid $colorRed;
    font-family: $fontFamilyInter;
    font-size: 14px;
    color: $colorRed;
    margin-right: 12px;
    &:hover {
      color: $colorWhite;
      background: $colorRed;
    }
  }
  &__edit {
    border: 1px solid $colorGreen;
    font-family: $fontFamilyInter;
    font-size: 14px;
    color: $colorGreen;
    &:hover {
      color: $colorWhite;
      background: $colorGreen;
    }
  }
}
